
<div class="card shadow border-0 mt-4  mb-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Company List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <div class="row  pb-1">
        <div class="row  pb-1">
            @* Action will convert to page That I click on *@
            @* If I delete that div with this class, It will be a row with  column *@
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle me-3"></i>Create New Company
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Phone Number</th>

                </tr>
            </thead>          
        </table>
    </div>
</div>

@section scripts {
    <script src="~/js/company.js"></script>
}